<!DOCTYPE html>
<html>  
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>
    <body class="masthead bg-secondary text-white text-center">
        <br><br>
        <div class="container d-flex align-items-center flex-column">
            <div class="container d-flex align-items-center flex-column">
                <img class="img-col" src="assets/img/my-profile.jpeg" alt="..." />
                <h1 class="masthead-heading text-uppercase mb-0">Mkhuseli Tyhobeka</h1>
                
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Father/Software Developer</p>
            </div>
        </div>
    </body>
    <br>
    <!--education-->
    <section class="page-section skills container-img" id="skills">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Education Qualifications</h2><br>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                   
            <div class="card md-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Matric </h5>
                    <p class="card-text">I matriculated at Funda High School in the Eastern Cape.</p>
                </div>
            </div>
            <br><br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Degree </h5>
                    <p class="card-text">I have a bachelor of science  degree which I obtained at the university of fort hare</p>
                </div>
            </div>
            <br><br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Certificates </h5>
                    <p class="card-text">I currently hold the following certificates <br> * IBM Integration Bus <br> * IBM Process Manager</p>
                </div>

            </div>
        </div>
        <br><br>
    </section>
<!--About me-->
    <section class="page-section bg-secondary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">About.Me</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Hello!...<br> I am Mkhuseli Tyhobeka. I am father to a 3 years old boy.
                  I am a passionate solutions developer, a tech lover, fast learner, self starter and I strongly believe in team work.
                  I have had the privilege of working on many different projects such as developing mobile applications with Android. I have developed Java spring boot microservices applications running in isolated environments through the implemantions of Docker containers. ESB intergration systems with IIB and ESQL and Identity Security Solutions with Sailpoint and BeanShell.   
                  I am always enthusiastics of learning new tech and improving my technical skills .<br>
                  When am not working , you'll find me playing with my little DUDE.
                </p></div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" (click)="displayResume()">Download CV</a><br><br>
            </div>
        </div>
        <br><br><br><br>
    </section>
<!--SKILLS-->
<section class="page-section skills container-img" id="skills">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills & Tech</h2><br>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <br><br>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">   
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/java.jpg" class="card-img-top" alt="..." style="width: 300px;">
                            <div class="card-body">
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 20rem;">
                            <img src="assets/img/spring-boot.jpg" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/android.jpg" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                            </div>
                        </div><br>                      
                    </div> 
                </div>
              
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                        <div class="card" style="width: 20rem;">
                            <img src="assets/img/jenkins.png" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/git.png" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/docker.png" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                 </div>
                 <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                        <div class="card" style="width: 20rem;">
                            <img src="assets/img/IIB.png" class="card-img-top" alt="..." style="width: 300px;">
                            <div class="card-body">
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/SailPoint-IIQ.jpg" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/docker.png" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                 </div>
                
            </div>  
            <br><br><br><br>
    </div>
    <br><br>
</section>

<!--Contact-->
<br>
<div class="page-section bg-secondary" id="contact">
    <h2 class="page-section-heading text-center text-white text-uppercase text-secondary mb-0"> Pop Me A Mail</h2><br>
    <!--center form div-->
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-sm-5 ">
            <form id="emailForm text-center ">
                <div class="col-sm-10" align-text="align-items-center">
                     <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" [(ngModel)]="emailTemplate.name"/>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Name is required</div>
                 </div><br>
                 <div class="col-sm-10">
                      <input class="form-control" id="email" name="email" type="text" placeholder="Enter your email..." data-sb-validations="required" [(ngModel)]="emailTemplate.email"/>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Email Address is required</div>
                </div><br>
              
                <div class="input-group col-sm-10">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
                  <select class="custom-select" id="subject" aria-label="Example select with button addon" name="subject" data-bs-toggle="dropdown" data-sb-validations="required" [(ngModel)]="emailTemplate.subject">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div><br>
                <div class="col-sm-10">
                    <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" [(ngModel)]="emailTemplate.message"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                 </div><br>
                <button class="btn btn-xl btn-outline-light col-sm-10" id="submitButton" type="submit" (click)="postmailMessage()">Submit</button>
            </form>
            <br>
        </div>
    </div>  
</div>
<div class="row">
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Lets connect on social networks</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-centertext-md-start mt-5" style="display: flex;">
        <!-- Grid row -->
        <div class="row mt-3">
    
          <!-- Grid column Technical skills-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 row">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Tech
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p><p>
                <a href="#!" class="text-reset">Spring Boot</a>
              </p>
            
            <p>
              <a href="#!" class="text-reset">IBM Integration Bus</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Android</a>
            </p>
          </div>
        </div>
  
          <!-- Grid column -->
          <div class="row mt-3">
          <!-- Grid column contact -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Unit 09 Rose Complex, Olievehoutbotch, Centurion</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              mkhuselityhobeka@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 27 834876291</p>
            <p><i class="fas fa-phone me-3"></i> + 27 735445339</p>
          </div>
          </div>
      </div>
    </section>
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Mkhuseli Tyhobeka
      
    </div>
  </footer>
  <!-- Footer -->
</div>

</html>
