<!DOCTYPE html>
<html>  
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body class="masthead bg-secondary text-white text-center">
        <br><br>
        <div class="container d-flex align-items-center flex-column">
            <div class="container d-flex align-items-center flex-column">
                <img class="img-col" src="assets/img/my-profile.jpeg" alt="..." />
                <h1 class="masthead-heading text-uppercase mb-0">Mkhuseli Tyhobeka</h1>
                
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Software Developer</p>
            </div>
        </div>
    </body>
    <br>
    <!--education-->
    <section class="page-section skills container-img" id="skills">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Education Qaulifications</h2><br>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                   
            <div class="card md-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Matric </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            <br><br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Degree </h5>
                    <p class="card-text">I have a bachelor of science  degree which I obtained at the university of fort hare</p>
                </div>
            </div>
            <br><br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Cerificates </h5>
                    <p class="card-text">I currently hold the following certificates <br> * IBM Integration Bus <br> * IBM Process Manager</p>
                </div>

            </div>
        </div>
        <br><br>
    </section>
<!--About me-->
    <section class="page-section bg-secondary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">About Me</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Seeking a Java software development position. A highly rewarding career where I
                    can use my skills and knowledge to help the company and my co-workers
                    successfully. Secure a position with a leading organization that will lead to a long-
                    term career relationship. To be part of the success in an environment of growth and
                    excellence. Seeking a competitive and challenging environment where I can serve
                    your organization and establish an enjoyable career for myself. To excel in this field
                    with hard work, perseverance, and dedication.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and a</p></div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" (click)="displayResume()">Download CV</a><br><br>
            </div>
        </div>
        <br><br><br><br>
    </section>
<!--SKILLS-->
<section class="page-section skills container-img" id="skills">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills & Tech</h2><br>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <br><br>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">   
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/java.jpg" class="card-img-top" alt="..." style="width: 300px;">
                            <div class="card-body">
                            <!--<p class="card-text">I am skilled in Java software development</p>-->
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 20rem;">
                            <img src="assets/img/spring-boot.jpg" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title"> Spring Boot </h5>
                               <!-- <p class="card-text">I am have developed some prodcution ready spring boot applications and APIs with the following tools<br><br> * Spring Data JPA <br> * Spring boot Actuator <br> * REST <br> * SOAP <br> * Swagger\OpenAPI <br> * JUnit\Mockito</p>-->
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/android.jpg" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">Android</h5>
                                <!--<p class="card-text">I have worked on android applications</p>-->
                            </div>
                        </div><br>                      
                    </div> 
                </div>
              
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                        <div class="card" style="width: 20rem;">
                            <img src="assets/img/IIB.png" class="card-img-top" alt="..." style="width: 300px;">
                            <div class="card-body">
                            <!--<p class="card-text">I am skilled in Java software development</p>-->
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/SailPoint-IIQ.jpg" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            <!--<p class="card-text">I am skilled in Java software development</p>-->
                            </div>
                        </div>
                        <br><br>
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/docker.png" class="card-img-top" alt="..." style="width: 200px;">
                            <div class="card-body">
                            <!--<p class="card-text">I am skilled in Java software development</p>-->
                            </div>
                        </div>
                    </div>
            </div>
                
            </div>  
            <br><br><br><br>
    </div>
    <br><br>
</section>

<!--Contact-->
<br>
<div class="page-section bg-secondary" id="contact">
    <h2 class="page-section-heading text-center text-white text-uppercase text-secondary mb-0"> Contact Me</h2><br>
    <div class="col justify-content-left">
        <div class="col-sm-10">
            <form id="emailForm">
                <div class="col-sm-5">
                     <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..." data-sb-validations="required" [(ngModel)]="emailTemplate.name"/>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Name is required</div>
                 </div><br>
                 <div class="col-sm-5">
                      <input class="form-control" id="email" name="email" type="text" placeholder="Enter your email..." data-sb-validations="required" [(ngModel)]="emailTemplate.email"/>
                    <div class="invalid-feedback" data-sb-feedback="name:required">Email Address is required</div>
                </div><br>
                  <div class="col-sm-5">
                         <input class="form-control" id="subject" name="subject" type="text" placeholder="Enter your subject..." data-sb-validations="required" [(ngModel)]="emailTemplate.subject"/>
                         <div class="invalid-feedback" data-sb-feedback="name:required">hone Number is required</div>
                </div><br>
                <div class="col-sm-5">
                    <textarea class="form-control" id="message" name="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" [(ngModel)]="emailTemplate.message"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                 </div><br>
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit" (click)="postmailMessage()">Submit</button>
            </form>
            <br>
        </div>
    </div>
    <!--chat form-->
    <div class="chat-popup" id="myForm" style="width: ;">
        <form action="/action_page.php" class="form-container">
            <h1>Let's Chat</h1>
            <label for="msg"><b>Message</b></label>
            <textarea placeholder="type message here ..." name="msg" required></textarea>
            <button type="button" class="btn btn-outline-success">Send</button>
            <button type="button" class="btn cancel" (click)="closeChatForm()">Close</button>
        </form>
    </div>
    <div style="position: fixed; bottom: 0;right: 0;">
        <p>
            <i class='fas fa-comment-dots' style='font-size:48px;color:blue;'(click)="openChatForm()"></i>
        </p>
    </div>
    
</div>
</html>
