<!DOCTYPE html>
<html>
    <body class="masthead bg-secondary text-white text-center">
        <br><br>
        <div class="container d-flex align-items-center flex-column">
            <div class="container d-flex align-items-center flex-column">
                <img class="img-col" src="assets/img/pic.jpg" alt="..." />
                <h1 class="masthead-heading text-uppercase mb-0">Mkhuseli Tyhobeka</h1>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Software Developer</p>
            </div>
        </div>
    </body>
    <!--Skills-->
    <section class="page-section skills container-img" id="skills">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">skills</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="skills-item-caption d-flex align-items-center justify-content-center h-100 w1-100">
                        <div class="skills-item-caption-content text-center text-white">
                            <i class="fas fas-plus fa-3x"></i>
                        </div>
                        <img class="img-fluid" src="assets/img/java.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="skills-item-caption d-flex align-items-center justify-content-center h-100 w1-100">
                        <div class="skills-item-caption-content text-center text-white">
                            <i class="fas fas-plus fa-3x"></i>
                        </div>
                        <img class="img-fluid" src="assets/img/java.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="skills-item-caption d-flex align-items-center justify-content-center h-100 w1-100">
                        <div class="skills-item-caption-content text-center text-white">
                            <i class="fas fas-plus fa-3x"></i>
                        </div>
                        <img class="img-fluid" src="assets/img/java.jpg" alt="" >
                    </div>
                </div>
            </div>

        </div>
    </section>
<!--About me-->
    <section class="page-section bg-secondary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">About Me</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and a</p></div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Download CV
                </a>
            </div>
        </div>
    </section>
<!--Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <h2 class="page-section-heading text-center text-secondary mb-0"></h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </section>
</html>
